:root {
  --step--2: clamp(0.65rem, calc(0.60rem + 0.25vw), 1.00rem);
  --step--1: clamp(0.78rem, calc(0.71rem + 0.33vw), 1.25rem);
  --step-0: clamp(0.94rem, calc(0.85rem + 0.45vw), 1.56rem);
  --step-1: clamp(1.13rem, calc(1.01rem + 0.59vw), 1.95rem);
  --step-2: clamp(1.35rem, calc(1.19rem + 0.78vw), 2.44rem);
  --step-3: clamp(1.62rem, calc(1.42rem + 1.02vw), 3.05rem);
  --step-4: clamp(1.94rem, calc(1.68rem + 1.34vw), 3.82rem);
  --step-5: clamp(2.33rem, calc(1.98rem + 1.74vw), 4.77rem);
}

:root {
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.09vw), 0.38rem);
  --space-2xs: clamp(0.50rem, calc(0.46rem + 0.22vw), 0.81rem);
  --space-xs: clamp(0.69rem, calc(0.62rem + 0.36vw), 1.19rem);
  --space-s: clamp(0.94rem, calc(0.85rem + 0.45vw), 1.56rem);
  --space-m: clamp(1.44rem, calc(1.30rem + 0.67vw), 2.38rem);
  --space-l: clamp(1.88rem, calc(1.70rem + 0.89vw), 3.13rem);
  --space-xl: clamp(2.81rem, calc(2.54rem + 1.34vw), 4.69rem);
  --space-2xl: clamp(3.75rem, calc(3.39rem + 1.79vw), 6.25rem);
  --space-3xl: clamp(5.63rem, calc(5.09rem + 2.68vw), 9.38rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.17rem + 0.40vw), 0.81rem);
  --space-2xs-xs: clamp(0.50rem, calc(0.40rem + 0.49vw), 1.19rem);
  --space-xs-s: clamp(0.69rem, calc(0.56rem + 0.63vw), 1.56rem);
  --space-s-m: clamp(0.94rem, calc(0.73rem + 1.03vw), 2.38rem);
  --space-m-l: clamp(1.44rem, calc(1.20rem + 1.21vw), 3.13rem);
  --space-l-xl: clamp(1.88rem, calc(1.47rem + 2.01vw), 4.69rem);
  --space-xl-2xl: clamp(2.81rem, calc(2.32rem + 2.46vw), 6.25rem);
  --space-2xl-3xl: clamp(3.75rem, calc(2.95rem + 4.02vw), 9.38rem);

  /* Custom pairs */
  --space-s-l: clamp(0.94rem, calc(0.63rem + 1.56vw), 3.13rem);
}

body {
  font-size: var(--step-0);
  padding: 0 var(--space-s-l);

  line-height: 1.7;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;

  background: linear-gradient(to bottom, #d1e4dd, transparent calc(1.7em * 16))
}

.global-wrapper {
  width: clamp(0ch, 100%, 66ch);
  margin: auto;

  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

footer {
  margin: var(--space-s-l) 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: Times, serif;
  font-weight: 400;
  margin-top: var(--space-l);
  margin-bottom: var(--space-xs);
}

h4, h5, h6 {
  font-size: var(--step-0);
}

h3 {
  font-size: var(--step-1);
}

h2 {
  font-size: var(--step-2);
}

h1 {
  font-size: var(--step-3);
}

.bio-avatar {
  border-radius: 1ex;
  align-self: start;
}

.header-link-home, .main-heading {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 900;
  margin: var(--space-s-l) 0;
  display: block;
}

hr {
  margin: var(--space-s-l) 0;
  border: none;
  border-top: 1px solid;
}

p {
  margin: 0;
}

p + p {
  margin-top: 0;
  text-indent: calc(1.7em * 3);
}

.bio {
  display: flex;
  gap: var(--space-s-l);
}

main {
  margin: var(--space-s-l) 0;
}

a {
  color: darkslategrey;
  text-underline-offset: 0.3em;
}

a:hover {
  text-decoration-style: wavy;
}

a:visited {
  text-decoration-style: dotted;
}

small {
  font-size: var(--step--1);
}

ol:has(> article) {
  padding-left: 0;
}

mark {
  background: lightyellow;
  font-weight: bold;
}